* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body > h1 {
  background-color: #b20000;
  margin: 0 auto;
  display:flex;
  height:10rem;
  color:white;
  justify-content: center;
  align-items: center;
  font-family: 'Petit Formal Script', cursive;
}

.button-container, .search-container, .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  flex-wrap: wrap;
}

.logo-container {
  justify-content: space-around;
  width:576px;
}

li {
  text-align: center;

}
li:hover {
  cursor:pointer;
  background-color: #FF0000;
  color:white;


}
.search-container button {
  background-color: #b20000;
  color:white;
  margin-top: -2rem;
  transition: all 0.3s ease;
}
.container {
  width: 576px;
  height:30%;
  background-color: #d7d7d7;
  border:1px solid #bdbdbd;
  margin: 3rem auto;
}

.logo-container img {
  padding:2rem;
}
